---
import Layout from "../../layouts/Layout.astro";
import { zfd } from "zod-form-data";
import { ZodError, z } from "zod";
import { submitValues } from "../../cookies";
import { isHXRequest } from "../../headers";
import Step1HTMX from "../htmx/step-1.astro";

if (Astro.request.method === "POST") {
  const schema = zfd.formData({
    name: zfd.text(),
    email: zfd.text(z.string().email()),
  });
  try {
    const formData = await Astro.request.formData();
    const formDataParsed = schema.parse(formData);
    submitValues(Astro.cookies, "step1", formDataParsed);
    if (isHXRequest(Astro.request)) {
      return Astro.redirect("/htmx/step-2", 302);
    }
    return Astro.redirect("/steps/step-2", 302);
  } catch (error) {
    if (error instanceof ZodError) {
      return new Response(undefined, {
        status: 400,
        statusText: error.message,
      });
    }
    return new Response(undefined, { status: 400 });
  }
}
---

<Layout title="HTMX/Multistep + Astro.build">
  <div id="content">
    <Step1HTMX />
  </div>
</Layout>
