---
import Layout from "../../layouts/Layout.astro";
import { stepAvailability, clearCookies } from "../../cookies";
import SummaryHTMX from "../htmx/summary.astro";

const { firstStepAvailable, secondStepAvailable, thirdStepAvailable } =
  stepAvailability(Astro.cookies);

const isFormFullfilled =
  firstStepAvailable && secondStepAvailable && thirdStepAvailable;

if (Astro.request.method === "POST") {
  if (isFormFullfilled) {
    clearCookies(Astro.cookies);
    return Astro.redirect("/completed", 302);
  }
}
if (!isFormFullfilled) {
  return Astro.redirect("/", 302);
}
---

<Layout title="HTMX/Multistep + Astro.build">
  <div id="content">
    <SummaryHTMX />
  </div>
</Layout>
