---
import Layout from "../../layouts/Layout.astro";
import { getDefaultValues, clearCookies } from "../../cookies";
import StepNavigation from "../../components/StepNavigation.astro";

const valuesFirstStep = getDefaultValues(Astro.cookies, "step1")!;
const valuesSecondStep = getDefaultValues(Astro.cookies, "step2")!;
const valuesThirdStep = getDefaultValues(Astro.cookies, "step3")!;
const firstStepAvailable = !!valuesFirstStep?.email;
const secondStepAvailable = !!valuesSecondStep?.address;
const thirdStepAvailable = !!valuesThirdStep?.cardExpiry;
const isFormFullfilled =
  firstStepAvailable && secondStepAvailable && thirdStepAvailable;

if (Astro.request.method === "POST") {
  if (isFormFullfilled) {
    clearCookies(Astro.cookies);
    return Astro.redirect("/completed", 302);
  }
}
if (!isFormFullfilled) {
  return Astro.redirect("/", 302);
}
---

<Layout title="HTMX + Astro.build">
  <div id="content">
    <StepNavigation
      stepActive={null}
      firstStepAvailable={firstStepAvailable}
      secondStepAvailable={secondStepAvailable}
      thirdStepAvailable={thirdStepAvailable}
    />
    <fieldset>
      <legend>First step</legend>
      <pre>{JSON.stringify(valuesFirstStep,null,2)}</pre>
    </fieldset>
    <fieldset>
      <legend>Second step</legend>
      <pre>{JSON.stringify(valuesSecondStep,null,2)}</pre>
    </fieldset>
    <fieldset>
      <legend>Third step</legend>
      <pre>{JSON.stringify(valuesThirdStep,null,2)}</pre>
    </fieldset>
    <form
      action="/steps/summary"
      method="POST"
      hx-post="/steps/summary"
      hx-target="#content"
      hx-replace-url="/completed"
    >
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg"
        >Submit</button
      >
    </form>
  </div>
</Layout>
