---
interface Props {
  stepActive: 1 | 2 | 3;
  firstStepAvailable: boolean;
  secondStepAvailable: boolean;
  thirdStepAvailable: boolean;
}

const {
  stepActive,
  firstStepAvailable,
  secondStepAvailable,
  thirdStepAvailable,
} = Astro.props;
---

<ul
  class="flex text-gray-600 text-sm leading-5 font-medium text-center flex-wrap border-gray-300"
>
  <li
    class=`inline-block rounded-lg p-4 cursor-pointer
    ${stepActive === 1 ? "outline outline-2  outline-offset-2" : ""} 
    ${firstStepAvailable || stepActive === 1 ? "": "text-zinc-300 cursor-not-allowed [&>a]:cursor-not-allowed"}`
    hx-disable={!(firstStepAvailable || stepActive === 1)}
    hx-get="/htmx/step-1"
    hx-target="#content"
    hx-swap="innerHTML"
  >
    First step
  </li>
  <li
    class=`inline-block rounded-lg p-4  cursor-pointer
    ${stepActive === 2 ? "outline outline-2  outline-offset-2" : ""} 
    ${secondStepAvailable ||stepActive === 2? "":"text-zinc-300 cursor-not-allowed [&>a]:cursor-not-allowed"}`
    hx-disable={!(secondStepAvailable || stepActive === 2)}
    hx-get="/htmx/step-2"
    hx-target="#content"
    hx-swap="innerHTML"
  >
    Second step
  </li>
  <li
    class=`inline-block rounded-lg p-4 cursor-pointer
    ${stepActive === 3 ? "outline outline-2  outline-offset-2" : ""} 
    ${thirdStepAvailable ||stepActive === 3? "":"text-zinc-300 cursor-not-allowed [&>a]:cursor-not-allowed"}`
    hx-disable={!(thirdStepAvailable || stepActive === 3)}
    hx-get="/htmx/step-3"
    hx-target="#content"
    hx-swap="innerHTML"
  >
    Third step
  </li>
</ul>
