---
import { getDefaultValues } from "../../cookies";
import StepNavigation from "../../components/StepNavigation.astro";

const valuesFirstStep = getDefaultValues(Astro.cookies, "step1")!;
const valuesSecondStep = getDefaultValues(Astro.cookies, "step2")!;
const valuesThirdStep = getDefaultValues(Astro.cookies, "step3")!;
const firstStepAvailable = !!valuesFirstStep?.email;
const secondStepAvailable = !!valuesSecondStep?.address;
const thirdStepAvailable = !!valuesThirdStep?.cardExpiry;
---

<StepNavigation
  stepActive={null}
  firstStepAvailable={firstStepAvailable}
  secondStepAvailable={secondStepAvailable}
  thirdStepAvailable={thirdStepAvailable}
/>
<fieldset>
  <legend>First step</legend>
  <pre>{JSON.stringify(valuesFirstStep,null,2)}</pre>
</fieldset>
<fieldset>
  <legend>Second step</legend>
  <pre>{JSON.stringify(valuesSecondStep,null,2)}</pre>
</fieldset>
<fieldset>
  <legend>Third step</legend>
  <pre>{JSON.stringify(valuesThirdStep,null,2)}</pre>
</fieldset>
<form
  action="/steps/summary"
  method="POST"
  hx-post="/steps/summary"
  hx-target="#content"
>
  <button
    type="submit"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg"
    >Submit</button
  >
</form>
